@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap");

button {
  background: none;
  border: none;
  cursor: pointer;
}
a {
  text-decoration: none;
}
